body { 
    color: #1a202c;
    background-color: #e2e8f0
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: regular ;
    color: rgb(217, 65, 65);

}
h1, h2 a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 { 
    font-size: 32px;
    font-weight: 900;
}
h2{ 
    color: rgb(217, 95, 95);
    font-size: 22px;
    font-weight: 600;
}

div{ 
    background-color: rgb(225, 210, 210);
    padding: 40px;
    width: 650px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(red, green, blue, alpha);
    text-align: center;
    border-radius: 8px;

}
img {
    border-radius: 20%;
    width: 130px;
}